<!DOCTYPE html>
<html lang="en">
<head/>
<body id="auth-signup-confirm">
	<main class="auth">
	<form class="auth-form" th:object="${user}" method="POST"
		id="auth-continue-form" enctype="utf8"
		th:action="@{/auth/signup-complete}">
		<!-- .form-group -->
		<input type="hidden" th:field="*{hash}" autofocus
			id="auth-continue-hash" />
		<div class="form-group">
			<div class="form-label-group">
				<label th:text="#{label.user.email}">email</label>
				<input type="email" th:field="*{email}" class="form-control"
					required autofocus id="auth-continue-email" readonly />
			</div>
		</div>
		<div class="form-group">
			<div class="form-label-group">
				<label th:text="#{label.user.name}">email</label>
				<input type="text" th:field="*{name}" class="form-control" required
					autofocus id="auth-continue-name"/>
				<p th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation
					error</p>
			</div>
		</div>
		<div class="form-group">
			<div class="form-label-group">
				<label th:text="#{label.user.password}">email</label>
				<input type="password" th:field="*{password}" class="form-control"
					required autofocus id="auth-continue-password"/>
				<p th:each="error : ${#fields.errors('password')}"
					th:text="${error}">Validation error</p>
			</div>
		</div>
		<div class="form-group">
			<div class="form-label-group">
				<label th:text="#{label.user.confirmPassword}">email</label>
				<input type="password" th:field="*{confirmPassword}"
					class="form-control" required autofocus id="auth-continue-confirm-password"/>
				<p th:each="error : ${#fields.errors('confirmPassword')}"
					th:text="${error}">Validation error</p>
			</div>
		</div>

		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				id="auth-complete-button">Complete Registration</button>
		</div>

	</form>
</body>
</html>