
<!DOCTYPE html>
<html lang="en">
<head/>
<body id="auth-signin">
	<!-- .auth -->
	<main class="auth">
	<form class="auth-form" th:object="${user}" method="POST"
        id="auth-signin-form" enctype="utf8"
        th:action="@{/auth/signin}">
		<!-- .form-group -->
		<div class="form-group">
			<div class="form-label-group">
				<input type="text" id="auth-signin-email" th:field="*{email}" class="form-control"
					placeholder="Username" required autofocus>
				<label for="auth-signin-email" th:text="#{label.user.email}">Username</label>
			</div>
		</div>
		<!-- /.form-group -->
		<!-- .form-group -->
		<div class="form-group">
			<div class="form-label-group">
				<input type="password" id="auth-signin-password" th:field="*{password}"
					class="form-control" placeholder="Password" required>
				<label for="auth-signin-password" th:text="#{label.user.password}">Password</label>
			</div>
		</div>
		<!-- /.form-group -->
		<!-- .form-group -->
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit"
				id="auth-signin-button">Sign In</button>
		</div>
		<!-- /.form-group -->
		<!-- .form-group -->
		<div class="form-group text-center">
			<div class="custom-control custom-control-inline custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="remember-me">
				<label class="custom-control-label" for="remember-me">Keep
					me sign in</label>
			</div>
		</div>
		<!-- /.form-group -->
		<!-- recovery links -->
		<div class="text-center pt-3">
			<a href="/auth/recovery-username" class="link">Forgot Username?</a>
			<span class="mx-2">·</span>
			<a href="/auth/recovery-password" class="link">Forgot Password?</a>
		</div>
		<!-- /recovery links -->
	</form>
	</main>
</body>

</html>
